<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Legio</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="..css/reset.css">
</head>
<body>
    <nav class="sidebar">
        <div class="logo">
            <div class="logo-img">
                <img src="../css/images/logo-block.png" alt="">
            </div>
        </div>

        <div class="menu-items">
                <ul class="nav-links">
                    <li><a href="#">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Главная</span>
                    </a></li>
                    <li><a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Чат</span>
                    </a></li>
                    <li><a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Платежи</span>
                    </a></li>
                    <li><a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Ещё</span>
                    </a></li>
                </ul>
                
                <ul class="exchange">
                    <li><a href="#">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Обмен валют</span>
                    </a></li>

                    <li>
                        <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Поддержка</span>
                    </a>
                </li>
                </ul>
        </div>
    </nav>
    
</body>
</html>
